:root {
  --roboto: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
}

#title {
  margin-top: 2rem;
  font-size: 1.9rem;
}